:root {
  --accent-color: #de2e54;
  --main-font: "Open Sans", Arial, sans-serif;
  --main-condenced-font: "Open Sans Condensed", Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 2px dotted var(--accent-color);
  outline-offset: 3px;
}

body {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #444444;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
  transition: color 0.3s ease;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--accent-color);
}

a:active {
  opacity: 0.6;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 10px 22px;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

.btn {
  font-family: var(--main-condenced-font);
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn:hover {
  background-color: #fff;
}

.btn:hover a {
  color: var(--accent-color);
}

.btn:active {
  opacity: 0.6;
  background-color: var(--accent-color);
  color: #ffffff;
}

/* HEADER */

.header__container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__link {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #222222;
  transition: 0.3s color ease;
}

.header__link:hover {
  color: var(--accent-color);
}

.header__img {
  width: 50px;
  height: 49.94px;
  margin-right: 16px;
}

.header__nav {
  margin: 0 auto;
}

.header-nav__item {
  margin-right: 32px;
}

.header-nav__item:last-child {
  margin-right: 0;
}

/* HERO */

.hero {
  background-color: #0eb4c1;
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero__title {
  font-family: var(--main-condenced-font);
  width: 500px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 16px;
}

.hero__text {
  font-family: var(--main-font);
  width: 440px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 36px;
}

.hero__btn {
  border: 0;
  padding: 12px 24px;
}

.hero__btn:hover {
  background-color: rgba(222, 46, 84, 0.8);
  color: #ffffff;
}

.hero__img {
  align-self: flex-end;
}

/* SERVICE */

.service {
  padding: 120px 0;
  text-align: center;
}

.service__heading {
  font-family: var(--main-condenced-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 56px;
}

.service__list {
  width: 864px;
  min-width: 864px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.service__box {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.service__box:last-child {
  margin-bottom: 0;
}

.service__block {
  margin-right: 64px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  border-radius: 24px;
}

.service__img {
  border-radius: 24px;
  height: 200px;
  width: 200px;
}

.service__content {
  text-align: left;
}

.service__title {
  font-family: var(--main-condenced-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: #222222;
  margin-bottom: 24px;
}

.service__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

/* CTA */

.cta {
  background-color: #0eb4c1;
  padding: 64px 0;
  text-align: center;
}

.cta__heading {
  font-family: var(--main-condenced-font);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 40px;
}

.cta__btn {
  color: #fff;
  background-color: inherit;
  border-color: #fff;
  transition: 0.5s border-color ease, 0.5s background-color ease;
}

.cta__btn:first-child {
  margin-right: 40px;
}

.cta__btn:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  color: #fff;
}

/* FOOTER */

footer {
  background-color: #222222;
  padding: 24px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo__link {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.footer-logo__link:hover {
  color: var(--accent-color);
}

.footer-logo__link:active {
  color: #ffffff;
}

.footer-logo__img {
  margin-right: 16px;
}

.footer-nav__item {
  margin-right: 32px;
}

.footer-nav__item:last-child {
  margin-right: 0;
}

.footer-nav__link {
  color: #fff;
}

.footer-nav__link:active {
  color: #fff;
}
